<!DOCTYPE html>
<html dir="ltr" lang="pt-BR">
<head>
  <title>Sistema Franjas Zanini</title>
	<meta name="author" content="Luram Archanjo"></meta>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>

  <!-- Icons
  <link rel="shortcut icon" type="image/png" href="images/favicon.ico" />
  -->

	<!-- Bootstrap-->
	<link rel="stylesheet" href="css/bootstrap.min.css" type="text/css" />

	<!-- Angular -->
	<link rel="stylesheet" href="css/angular-material.min.css" type="text/css" />

  <!-- Application -->
	<link rel="stylesheet" href="css/application-style.css" type="text/css" />

</head>

<body ng-app="myApp">

	<!-- Menu -->
	<div ng-include="'menu.html'"></div>

	<!-- View -->
	<div ng-view=""></div>

  <!-- Footer -->
	<div ng-include="'footer.html'"></div>

	<!-- Bootstrap-->
	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>

  <!-- Angular -->
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/angular-animate.min.js"></script>
	<script type="text/javascript" src="js/angular-aria.min.js"></script>
	<script type="text/javascript" src="js/angular-messages.min.js"></script>
	<script type="text/javascript" src="js/angular-route.min.js"></script>
	<script type="text/javascript" src="js/angular-cookies.min.js"></script>
	<script type="text/javascript" src="js/ng-notify.min.js"></script>
	<script type="text/javascript" src="js/angular-input-masks.min.js"></script>
	<script type="text/javascript" src="js/angular-material.min.js"></script>

  <!-- Angular Table -->
	<script type="text/javascript" src="js/ng-table.min.js"></script>

  <!-- NG Progress -->
	<script type="text/javascript" src="js/ngProgress.min.js"></script>

  <!-- Application -->
	<script src="js/application-propertie.js" type="text/javascript"></script>

	<!-- Must be the first -->
	<script src="js/application.js" type="text/javascript"></script>

</body>
</html>